@import url('https://fonts.googleapis.com/css2?family=Flow+Circular&display=swap');


body{
   font-family: "Flow Circular", system-ui;
   font-size: 40px;
   color: rgb(230, 226, 235);
   background-image: url("images/mainbackground.png");
   background-repeat: no-repeat;
   background-size: auto;
}