@import url('https://fonts.googleapis.com/css2?family=Madimi+One&display=swap');
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@800&display=swap');

*{
   -webkit-user-select: none;
   user-select: none;
}

body{
   padding: 0;
   margin: 0;
   background-color: #36433C;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
}

body::-webkit-scrollbar-track
{
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
background-color: #36433C;
}

body::-webkit-scrollbar
{
width: 10px;
 }

body::-webkit-scrollbar-thumb
  {
border-radius: 10px;
-webkit-box-shadow: inset 0 0 6px rgba(0,0,0,.3);
background-color: #89A86F;
  }

header{
    width: 100%;
    height: 100px;
    margin-top: 20px;
    display: flex;
    position: relative;
}

.svgdiv{
   display: flex;
   justify-content: center;
   align-items: center;
   overflow: hidden;
}

#svgone{
   width: 50px;
   height: 50px;
   transform: translate3d(-10rem,1rem,5rem);
   margin-left: 10px;
   animation: moveone 0.5s forwards;
   animation-delay: 0;
   animation-iteration-count: 1;
   opacity: 0;
   transition: opacity 0.5s;
}

@keyframes moveone {
   100%{
      opacity: 1;
      transform: translate3d(1rem,1rem,5rem);
   }
}

#svgtwo{
   width: 50px;
   height: 50px;
   transform: translate3d(2rem,-1rem,5rem);
   animation: movetwo 0.5s forwards;
   animation-delay: 0;
   animation-iteration-count: 1;
   opacity: 0;
   transition: opacity 0.5s;
}

@keyframes movetwo {
   100%{
      opacity: 1;
      transform: translate3d(-1rem,-1rem,5rem);
   }
}


.compname{
   display: flex;
   justify-content: center;
   align-items: center;
   padding: 10px;
   font-size: 30px;
}

.compname span{
   font-family: "Madimi One", sans-serif;
   font-size: 40px;
   font-weight: 700;
   color: #89A86F;
   transform: translate3d(0,-10rem,0);
   animation: fall 0.5s forwards;
   animation-delay: 0;
   animation-iteration-count: 1;
   opacity: 0;
   transition: opacity 0.5s;
}

@keyframes fall {
   100%{
       opacity: 1;
        transform: translate3d(0,0,0);
   }
}

.navbar{
   position: absolute;
   top: 0;
   right: 10px;
   bottom: 0;
   display: flex;
   justify-content: center;
   align-items: center;
}

.navbar ul{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.navbar ul::before{
   content: "";
   position: absolute;
   top: 0;
   left: 0;
   width: 100%;
   height: 100%;
   background-color: #36433C;
   z-index: 1;
   animation: shownav 0.5s linear forwards;
}

@keyframes shownav {
   100%{
      width: 0;
   }
}


.navbar ul li{
   list-style-type: none;
   margin-right: 10px;
   padding: 6px;
   color: #89A86F;
   font-family: "JetBrains Mono", monospace;
   font-weight: 400;
   font-size: 18px;
   cursor: pointer;
   position: relative;
   transition: font-size 0.5s linear;
}

.navbar ul li:hover{
   font-size: 20px;
   font-weight: 700;
   -webkit-text-stroke: 1px white;
}

.navbar ul li::after{
   content: "";
   position: absolute;
   bottom: 0;
   left: 0;
   width: 0;
   height: 0;
   background-color: #89A86F;
   transition: width 0.5s linear,height 0.5s linear;
}

.navbar ul li:hover:after{
   width: 100%;
   height: 5px;
}


.topsection{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-top: 20px;
   padding: 10px;
   height: 350px;
}

#topone {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 50%;
   margin: 1%;
   font-size: 90px;
   font-weight: 700;
   font-family: "Madimi One", sans-serif;
}

/* morphtext */
#topone #container {
   position: relative;
   width: 100%;
   filter: url(#threshold) blur(0.3px);
}

#tiptxt{
    color: white;
   -webkit-text-stroke: 3px #ffffff;
}

#text1,
#text2 {
   position: absolute;
   color: #89A86F;
   font-size: 100px;
}

#toptwo{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40%;
   margin: 1%;
}

#toptwo div{
   display: flex;
   justify-content: center;
   align-items: center;
    position: relative;
}

#toptwo .spanres{
   position: absolute;
   font-size: 0px;
   opacity: 0;
   margin-top: 100px;
   transition: font-size 0.5s linear;
   color: #89a86f48;
}


#toptwo .spanres.active{
    font-size: 300px;
    opacity: 1;
}


.middlesection{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
   padding: 10px;
   margin-top: 150px;
   background-color: #89A86F;
   background-image: url('../images/service-bg.jpg');
   background-blend-mode: color-burn;
}

.middlesection > div{
    width: 46%;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.middlesection > div span{
     text-align: center;
     width: 100%;
     color: #36433C;
     font-size: 60px;
     font-family: "Madimi One", sans-serif;
     -webkit-text-stroke: 2px #36433C;
}

.middlesection > div span i{
   font-size: 90px;
   margin-top: 50px;
}

.showoff{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
   padding: 10px;
   background-color: #ffffff;
   font-family: "Madimi One", sans-serif;
   background-image: url("../images/achievepane.jpg");
   background-size: cover;
   background-blend-mode: luminosity;
}

.showoff #toptxt{
   width: 100%;
   color: #36433C;
   font-size: 80px;
   font-weight: 700;
   text-align: center;
}

.showoff > div{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 10px;
   width: 100%;
}

.showoff > div span{
   text-align: center;
   width: 100%;
   color: #36433C;
   font-size: 40px;
   margin-top: 20px;
}

.showoff > div img{
   width: 400px;
   height: 450px;
   margin-top: 20px;
   mix-blend-mode:multiply;
}