
@import url("generalcss.css");

.topsection{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 100%;
   margin-top: 10px;
   padding: 10px;
   background-color: #36433C;
   background-image: url("../images/designstarback.png");
   background-size: cover;
   background-blend-mode: color-burn;
}

.topone {
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 50%;
   margin: 1%;
   font-size: 90px;
   font-weight: 700;
   font-family: "Madimi One", sans-serif;
}

.topone #tiptxt{
    color: white;
   -webkit-text-stroke: 3px #ffffff;
}

.topone .containerwrapper{
   width: 100%;
   position: relative;
}

.topone .containerwrapper #container {
   width: 100%;
   height: 100px;
   margin: 20px;
   color: #89A86F;
   font-size: 100px;
   font-weight: 700;
   font-family: "Madimi One", sans-serif;
   overflow: auto;
}

.animtext{
   position: absolute;
   top: 0;
   opacity: 0;
   transition: opacity 1s ease-in-out;
}

.animtext.active{
   text-align: left;
   display: block;
   opacity: 1;
   
}

.toptwo{
   display: flex;
   justify-content: center;
   align-items: center;
   width: 40%;
   margin: 1%;
}

.toptwo div{
   display: flex;
   justify-content: center;
   align-items: center;
   position: relative;
}

.toptwo .spanres{
   position: absolute;
   font-size: 0px;
   opacity: 0;
   transition: font-size 1s ease-in-out;
   color: #89a86fd7;
}

.toptwo .spanres.active{
    font-size: 300px;
    opacity: 1;
}

.middlesection{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
   padding: 10px;
   background-color: #89A86F;
   background-image: url('../images/service-bg.jpg');
   background-blend-mode: color-burn;
}

.middlesection > div{
    width: 46%;
    margin: 2%;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.middlesection > div span{
     text-align: center;
     width: 100%;
     color: #36433C;
     font-size: 60px;
     font-family: "Madimi One", sans-serif;
     -webkit-text-stroke: 2px #36433C;
}

.middlesection > div span i{
   font-size: 90px;
   margin-top: 50px;
}

.showoff{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   width: 100%;
   padding: 10px;
   background-color: #ffffff;
   font-family: "Madimi One", sans-serif;
   background-image: url("../images/achievepane.jpg");
   background-size: cover;
   background-blend-mode: luminosity;
}

.showoff #toptxt{
   width: 100%;
   color: #36433C;
   font-size: 80px;
   font-weight: 700;
   text-align: center;
}

.showoff > div{
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   margin-top: 10px;
   width: 100%;
}

.showoff > div span{
   text-align: center;
   width: 100%;
   color: #36433C;
   font-size: 40px;
   margin-top: 20px;
}

.showoff > div img{
   width: 400px;
   height: 450px;
   margin: 2%;
}

.links-section{
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
}

.links-section div{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding: 10px;
   color: white;
}

.links-section div{
   background-color: #36433C;
   background-image: url("../images/designstarback.png");
   background-size: cover;
   background-blend-mode: color-burn;
}

.links-section div:nth-child(2){
   background-color: #89A86F;
   color: #36433C;
   background-image: url("../images/service-bg.jpg");
}


.links-section div:nth-child(3){
   background-color: #36433C;
   background-image: url("../images/designstarback.png");
   background-blend-mode:color-burn;
}

.links-section div:nth-child(4){
   background-color: #89A86F;
   color: #36433C;
   background-image: url("../images/service-bg.jpg");
}

.links-section div span{
   width: 100%;
   text-align: center;
   font-weight: 700;
   font-size: 80px;
   font-family: "Madimi One", sans-serif;
   padding: 10px;
}

.links-section div span:nth-child(2){
   font-size: 150px;
}

.links-section div button{
   width: 400px;
   margin: 20px;
   border: none;
   padding: 15px;
   border-radius: 50px;
   font-weight: 700;
   font-size: 20px;
   font-family: "JetBrains Mono", monospace;
   color: white;
   background-color: #36433C;
   border: 2px solid white;
   position: relative;
   overflow: hidden;
   z-index: 1;
}

.links-section button:hover{
   color: #36433C;
}

.links-section button i{
   font-size: 25px;
   margin: 2px;
   transition: margin 0.5s linear;
}

.links-section button:hover i{
   margin-left: 10px;
}

.links-section button::before{
 content: "";
 position: absolute;
 top: 0;
 right: 0;
 width: 0;
 height: 100%;
 background-color: white;
 z-index: -1;
}

.links-section button:hover::before{
 animation: motion 0.5s ease forwards;
 animation-iteration-count: 1;
 animation-delay: 0;
}

@keyframes motion {
  100%{
     width: 100%;
  }
}


