
@import url(/css_stylesheets/generalcss.css);

.description-typeone{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding: 10px;
   background-color: #36433C;
   background-image: url("/images/designstarback.png");
   background-size: cover;
   background-blend-mode: color-burn;
   text-shadow: 0px 0px 30px #36433C;
}

.description-typeone h2{
   width: 100%;
  font-size: 50px;
  color: white;
  font-weight: 700;
   font-family: "Madimi One", sans-serif;
  margin-left: 50px;
  text-align: left;
}

.description-typeone span{
    width: 100%;
    text-align: center;
    font-family: "Madimi One", sans-serif;
    font-size: 40px;
    color: #89A86F;
    margin-bottom: 50px;
}

.description-typeone span i{
      font-size: 100px;
      color: #89A86F;
}

.description-typeone.exception{
   color: #36433C;
   background-color: #ffffff;
   background-image: url("/images/achievepane.jpg");
   background-size: cover;
   background-blend-mode: luminosity;
}

.description-typeone.exception h2 , .description-typeone.exception span, .description-typeone.exception i{
   color: #36433C;
   text-shadow: 0px 0px 3px #36433C;
}

.description-typetwo{
   width: 100%;
   display: flex;
   justify-content: center;
   align-items: center;
   flex-wrap: wrap;
   padding: 10px;
   background-color: #89A86F;
   background-image: url("/images/service-bg.jpg");
   background-size: cover;
   background-blend-mode: color-burn;
   text-shadow: 0px 0px 30px #89A86F;
}

.description-typetwo h2{
   width: 100%;
  font-size: 50px;
  color: white;
  font-weight: 700;
   font-family: "Madimi One", sans-serif;
  margin-left: 50px;
  text-align: left;
}

.description-typetwo span{
    width: 100%;
    text-align: center;
    font-family: "Madimi One", sans-serif;
    font-size: 40px;
    color: #36433C;
    margin-bottom: 50px;
}

.description-typetwo span i{
   font-size: 100px;
   color: #36433C;
}